/*VIDEO TEXT OVERLAY*/

.container{
    position: relative;
    text-align: center;
    color: white;
}

.text{
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}